<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Example</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>breed</th>
                <th>Age</th>
                <th>location</th>
                <th>owner</th>
                <th>price</th>


            </tr>
        </thead>
        <tbody>
            {% for pet in pets %}
            <tr>
                <td>{{ pet.name }}</td>
                <td>{{ pet.age }}</td>
                <td>{{ pet.breed }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
